<%= render 'layouts/navbar' %>

<div class="container">
  <h1 class="text-center">Create your list</h1>

  <div class="container w-50 mx-auto p-3 bg-white rounded shadow-sm">
    <%= simple_form_for(@list) do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
